<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>

<h1>WebSocket Test</h1>
<h1>for detail open console</h1>
<h1>don't forget allow notification</h1>
<h1>Create|Update|Delete a task or Create a comment to see notification</h1>

<script>


    const socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notifications/'
    );

    socket.onopen = function (event) {
        console.log('WebSocket is open now.');
        socket.send(JSON.stringify({'message': 'Hello WebSocket!'}));
    };

    socket.onmessage = function (event) {
        console.log('Message from server:', event.data);
        if (!("Notification" in window)) {
            console.log("This browser does not support desktop notification");
        }
        
        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {
            // If it's okay let's create a notification
            let data = JSON.parse(event.data);
            var notification = new Notification(data["message"]);
        } else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(function (permission) {
                // If the user accepts, let's create a notification
                if (permission === "granted") {
                    var notification = new Notification("Hi there!");
                }
            });
        } else {
            console.log("notification error from browser");
        }


    };

    socket.onclose = function (event) {
        console.log('WebSocket is closed now.');
    };

    socket.onerror = function (error) {
        console.error('WebSocket error:', error);
    };


</script>
</body>
</html>